<%= form_for(@article) do |f| %>

<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>

<div id="editorPanel"></div>

<hr />

<!--show the content of article -->
<%= f.label :content %><%= f.text_field :content, :style => "width: 80%; " %><!--display:none;-->
<section id="articleContent"></section>

<div class="actions">
  <%= f.submit "save article" %>
</div>

<% end %>

<script type="text/javascript">
$(document).ready(function(){
	editor.init();
});
</script>