<h1>New article</h1>

<%= render 'form' %>

<hr />
<h5>photo upload</h5>
<%= form_for @photo, :html => {:multipart => true} do |p| %>
<%= p.file_field :image %>
<div class="actions">
    <%= p.submit %>
</div>
<% end %>

<%= link_to 'Back', articles_path %>
