<style type="text/css"> img { display: block; } </style>
<h1>New article</h1>

<%= render 'form' %>

<hr />
<p>add a <span class="showDiv">paragraph</span> | <span class="showDiv">image</span> | <span class="showDiv">video</span></p> 

<div id="addParagraph">
	<h5>add paragraph</h5>
	<textarea id="newKnackParagraph"  placeholder="請將段落輸入在此處"></textarea><br />
	<button id="newParagraph">建立文字段落</button>
</div>

<div id="addImage" style="display:none;">	
	<%= form_for (@photo), :html => {:multipart => true, :remote => true} do |p| %>
	<h5>add image</h5>
	<%= p.file_field :image %>
	<div class="actions">
		<%= p.submit %>
	</div>
	<% end %>
</div>

<div id="addVideo" style="display:none;">
	<h5>add video</h5>
	<input id="newVideoInput" style="width: 320px;" placeholder="請將整段youtube連結貼到此處" />
	<button id="newVideoBtn">建立影片段落</button>
	<div id="videoPreview"></div>
</div>

<hr />

<%= link_to 'Back', articles_path %>

<script type="text/javascript">
$(document).ready(function(){
	$(".showDiv").click(function(){
		var itemToAdd = "add" + $(this).html().charAt(0).toUpperCase() + $(this).html().slice(1);
		var divToShow = ["addParagraph","addImage","addVideo"];
		for(item in divToShow)
		{
			var display = divToShow[item]==itemToAdd ? "block":"none";
			$("#"+divToShow[item]).css("display", display);
		}
	});
});
</script>