<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @article.name %>
</p>

<p>
  <b>Content:</b><input id="article_content" style="display:none;" type="text" value="<%=@article.content%>">
  <div id="articleContent"></div>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
<script>
$(document).ready(function() {
	showContent();
	function showContent(){
    if($("#article_content").val())
    {
      var obj = JSON.parse($("#article_content").val());
      var article = "";
      for(i=0;i<obj.article.length;i++)
      {
        var paragraph = obj.article[i];

        if(JSON.stringify(paragraph.type)=='"paragraph"')
        {
          article = "<div class='paragraphContainer ui-state-default' data-type='paragraph'><p style = ' font-size: "+paragraph.fontSize+"; color: "+paragraph.color+"'>";

          if(paragraph.link){
            article += "<a target='_blank' href='"+paragraph.link+"'>"+jsonReplace(JSON.stringify(paragraph.content)).replace(/\\n/g, "<br />")+"</a></p></div>";
          }
          else{
            article += jsonReplace(JSON.stringify(paragraph.content)).replace(/\\n/g, "<br />")+"</p></div>";
          }
        }
        else if(JSON.stringify(paragraph.type)=='"image"')
        {
          article = "<div class='paragraphContainer' data-type='image' data-photo_id=\"" + paragraph.id + "\"><img alt=" + JSON.stringify(paragraph.id) + " src=" + JSON.stringify(paragraph.path) + " title=" + JSON.stringify(paragraph.id) + " /></div>";
        }
        else if (JSON.stringify(paragraph.type)=='"video"') {
          article = "<div  class='paragraphContainer' data-type='video' data-code=\"" + paragraph.code + "\"><iframe width=\"480\" height=\"290\" data-code=\"" + paragraph.code + "\" src=\"http://www.youtube.com/embed/" + paragraph.code+ "\" frameborder=\"0\" allowfullscreen></iframe></div>";
        }
        $("#articleContent").append(article);
      }
    }
  }

  function jsonReplace(string){return string.replace(/"([^"]*)"/g, "$1");}
  
});

</script>